<%- include('header') -%>
<h1> Bienvenido a mi aplicacion de Libros</h1>
<p> Aqui encontraras los libros mas famosos junto con su descripcion</p>
<img src="img/libro1.jpg"  class="grande" />

<%- include('footer') -%>